<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <canvas id='game_canvas'></canvas>
  </body>
  <script src='js/canvas.js'></script>
  <script src='js/game.js'></script>
</html>
